/* content one */
.content-one {
    width: 80%; /* Largura da seção principal do banner */
    margin: 40px auto; /* Margem superior e inferior de 40px, centralizando horizontalmente */
}

.content-one .container-content {
    background-color: #660d09; /* Cor de fundo da seção */
    padding: 10px; /* Espaçamento interno de 10px */
    
    display: flex; /* Exibe os itens em linha (flexbox) */
    justify-content: space-around; /* Espaço igual entre os itens */
    
    border-radius: 10px; /* Cantos arredondados */
    height: 260px; /* Altura fixa da seção */
    
    margin-top: 100px; /* Margem superior de 100px */
}

.content-one .container-content .content-item img {
    margin-top: -50px; /* Margem negativa para ajustar a imagem */
    width: 450px; /* Largura fixa da imagem */
    height: 450px; /* Altura fixa da imagem */
}

.content-one .container-content .content-item {
    color: white; /* Cor do texto */
    margin: auto; /* Margem automática para centralizar */
}

.content-one .container-content .content-item h2 {
    font-weight: 500; /* Peso da fonte do título */
    font-size: 40px; /* Tamanho da fonte do título */
}

.content-one .container-content .content-item p {
    font-weight: 100; /* Peso da fonte da descrição */
    font-size: 16px; /* Tamanho da fonte da descrição */
}


  


